@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	overflow: hidden;

}

#header {	


}

.container {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	padding-top: 20px;

}

.header-logo { 
	float: left;
	width: 50%;

}

.logo {
	float: left;

}

.logo img {

}

.logo-text {
	float: left;
	width: 50%;
}

.logo-text h1 {
	padding-left: 10px;
	color: gray;
	font-weight: bolder;
	font-size: 30px;
	margin: 0 auto;
	margin-top: 10px;

}

.social {
	float: right;

}

.social ul {


}

.social ul li {
	list-style: none;
	float: left;
	padding-right: 5px;

}

.social ul li a {

}

#menu {

}


nav {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 0;
}
nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: gray;
	padding-right: 10px;
}

nav a:hover {
	color:green;
}

#portfolio {
	background-image: url(../images/s.png);
	background-size: cover;	
	margin-bottom: 6em; 
}

.img {
	transform: translateY(13%);

}

.img img {
	margin: 0 auto;
	max-width: 100%;
	display: block;
	
}

#about {

}

.about {
	position: relative;
	text-align: center;
	width: 650px;
	margin: 0 auto;
	padding-bottom: 20px;


}

.about p {

}

.about button {
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: seagreen;

}

.about button a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;

}

#more {
	background-color: #3d3f48;
}

.text {
	color:white;
	text-transform: uppercase;
	font-size: 20px;
	float: left;
}

.btn {
	float: right;
    padding-top: 17px;
}

.btn button {
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: seagreen;


}

.btn button a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	
}

#copyright {

}

.copyright {
	float: left;

}

.copyright p {
	text-transform: uppercase;
	font-size: 14px;

	
}

.nav-menu {
	float: right;

}

.nav-menu nav {
	size: 14px;

}

.nav-menu nav a {
	padding-right: 10px; 

}